
@{
    ViewData["Title"] = "Register";
}

<h1>Regiser</h1>
<div class="row">
    <div class="col-3">
        <a href="~/home/index" id="linkPage">Index Page</a>
    </div>


    <div class="col-6">
        <form method="Post" action="~/api/register" name="registerForm">
            <div class="mb-3">
                <label for="InputUserName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="InputUserName" name="Name" />
                <div id="nameHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="Email" />
            </div>
            <div class="mb-3">
                <label for="InputAge" class="form-label">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="Age">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">選擇檔案</label>
                <input class="form-control" type="file" id="formFile" name="Photo">
                <img id="previewimg" src="#" style="width:100px; height: 100px;" class="mt-3">
            </div>
            <button type="submit" class="btn btn-primary" id="buttonSubmit">Submit</button>
        </form>
        <div id="div1" class="alert alert-secondary mt-3"></div>
        
    </div>
    <div class="col-3"></div>
</div>

@section Scripts{
    <script>
        const btnSubmit = document.querySelector('#buttonSubmit');
        const page = document.querySelector('#linkPage');
        const divAlert = document.querySelector('#div1');


        //預覽圖片
        $("#formFile").change(function () {
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#previewimg").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);//readAsDataURL 方法將圖片轉換為數據 URL。
            }
        }

        //fetch + async await
        btnSubmit.addEventListener('click', async (event) => {
            event.preventDefault();

            const formData = new FormData(document.registerForm);//<form name="registerForm"
                        
            const response = await fetch('@Url.Content("~/api/register")', {
                body: formData,
                method: 'POST'
            });
            const data = await response.text();
            divAlert.innerHTML = data;


        })


        //fetch
        //btnSubmit.addEventListener('click', (event) => {
        //    event.preventDefault();

        //    const formData = new FormData(document.registerForm);<form name="registerForm"
                        
        //    fetch('@Url.Content("~/api/register")',{
        //        body: formData,
        //        method: 'POST'
        //    })
        //    .then(response =>response.text())
        //    .then(data => {
        //            divAlert.innerHTML = data;
        //    })

        //})


        //btnSubmit.addEventListener('click',event=>{
        //    event.preventDefault();//清除button type="submit"才開始寫ajax

        //    const formData = new FormData(document.registerForm)

        //    const xhr=new XMLHttpRequest();
        //    xhr.open('POST', '/api/Register')
        //    //xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        //    //xhr.send('Name=Mary&Age=30&Email=Mary@company.com');
        //    xhr.send(formData)


        //    xhr.addEventListener('load',()=>{
        //        const data=xhr.responseText;
        //        divAlert.innerHTML=data;
        //    })

        //})
    </script>
}

@section Styles{
    <style></style>
}

